<ion-view>
<ion-content>
<div class="row">
	<div class="col">
	<label class="item item-input item-stacked-label">
      <span class="input-label">CLODE MEDIUM CLOUD</span>
	</label>  
	<div class="item item-input-inset"> 
	 <label class="item item-input-wrapper row-size">		
     
	 <input type="date" placeholder="select time" >
      </label>
    </div> 
   </div>
</div>
<div class="row">
	<div class="col">
	<label class="item item-input item-stacked-label">
      <span class="input-label">TYPE HIGH CLOUD</span>
	</label>  
	<div class="item item-input-inset"> 
	 <label class="item item-input-wrapper row-size">		
     
	 <input type="date" placeholder="select time" >
      </label>
    </div> 
   </div>
</div>
<div class="row">
	<div class="col">
	<label class="item item-input item-stacked-label">
      <span class="input-label">OKTAS HIGH CLOUD</span>
	</label>  
	<div class="item item-input-inset"> 
	 <label class="item item-input-wrapper row-size">		
     
	 <input type="date" placeholder="select time" >
      </label>
    </div> 
   </div>
</div>
<div class="row">
	<div class="col">
	<label class="item item-input item-stacked-label">
      <span class="input-label">HEIGHT HIGH CLOUD</span>
	</label>  
	<div class="item item-input-inset"> 
	 <label class="item item-input-wrapper row-size">		
     
	 <input type="date" placeholder="select time" >
      </label>
    </div> 
   </div>
</div>
<div class="row">
	<div class="col">
	<label class="item item-input item-stacked-label">
      <span class="input-label">CLCODE MEDIUM CLOUD</span>
	</label>  
	<div class="item item-input-inset"> 
	 <label class="item item-input-wrapper row-size">		
     
	 <input type="date" placeholder="select time" >
      </label>
    </div> 
   </div>
</div>
<div class="row">
	<div class="col">
	<label class="item item-input item-stacked-label">
      <span class="input-label">cloud searchlight Alidade Reading Rainfall (mm)</span>
	</label>  
	<div class="item item-input-inset"> 
	 <label class="item item-input-wrapper row-size">		
     
	 <input type="date" placeholder="select time" >
      </label>
    </div> 
   </div>
</div>
<div class="row">
	<div class="col">
	<div class="item item-input-inset">
      <span class="label-span">Dry bulb</span>
	  <label class="item item-input-wrapper row-size">		
     
	 <input type="text" placeholder="select time" >
      </label>
     
   </div>
	</div>
</div>
<div class="row">
	<div class="col">
	<div class="item item-input-inset">
      <span class="label-span">Wet Bulb</span>
	  <label class="item item-input-wrapper row-size">		
     
	 <input type="text" placeholder="select time" >
      </label>
     
   </div>
	</div>
</div>
<div class="row">
	<div class="col">
	<div class="item item-input-inset">
      <span class="label-span">Max Read</span>
	  <label class="item item-input-wrapper row-size">		
     
	 <input type="text" placeholder="select time" >
      </label>
     
   </div>
	</div>
</div>
<div class="row button-padding">
	<div class="col text-left">  
	<button class="button button-assertive button-style" ng-click="openObservationForm2()">back</button>
	</div>
	<div class="col text-right">
	<button class="button button-calm button-style" ng-click="openobservationform4()">next</button>
	</div>
</div>
</ion-content>
</ion-view>