<ion-side-menus>
  <!-- Center content -->
  <ion-side-menu-content>
  
  <ion-nav-bar class="bar-positive nav-title-slide-ios7 has-tabs-top">
  
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-navicon" ng-click="toggleDrawer()">
      </button>
   </ion-nav-buttons>
		
   </ion-nav-bar>
  
     
		<ion-nav-view name="menuitem"></ion-nav-view>
        
	  
  </ion-side-menu-content>

  <!-- Left menu -->
  <drawer side="left">  
	  	<ion-nav-bar  class="bar-stable nav-title-slide-ios7 has-tabs-top"> 
        <ion-nav-buttons side="left">
          <button class="button button-icon icon ion-navicon" ng-click="toggleDrawer()">
          </button>
        </ion-nav-buttons>
		
		
      </ion-nav-bar>
  		
        <ion-view title="Menu">
          
		  <ion-content>
			<div class="card balanced">
				<div class="item balanced item-avatar " >
				  <img src="images/logos/Maklogo.png">
				  <h2>Muhumuza joshua</h2>
				</div>
			</div>	
			  
			<ion-list ng-click="toggleDrawer()">
				<ion-item menu-close href="#/main/observationform">obervation input form</ion-item>
				<ion-item menu-close href="#/main/metarform">Metar form</ion-item>
				<ion-item menu-close href="#/main/moreformfieldsform">More form fields form</ion-item>
				
			</ion-list>
			
			<div class="row">
				<div class="col text-center">
					
					<div class="logout-style text-center" ng-click="logout()">	<i class="icon ion-log-out "></i> </div>
				</div>
			</div>
			
				
		  </ion-content>
        </ion-view>
  </drawer>
  
  
</ion-side-menus>
