<ion-view ng-init="hideotherMoreFormParts()">
<ion-content>
<div ng-show="moreformPart1">
			<div class="row">
				<div class="col">
				<div class="item item-input-inset">
				  <span class="label-span">select date</span>
				  <label class="item item-input-wrapper row-size">		
				 
				 <input type="date" ng-model="moreform.date" >
				  </label>
				 
			   </div>
				</div>
			</div>
			<div class="row">
				<div class="col">
				<div class="item item-input-inset">
				  <span class="label-span">Station name</span>
				  <label class="item item-input-wrapper row-size">		
				 
				 <input type="text" placeholder="enter station name" ng-model="moreform.name" >
				  </label>
				 
			   </div>
				</div>
			</div>
			<div class="row">
				<div class="col">
				<div class="item item-input-inset">
				  <span class="label-span">Station number</span>
				  <label class="item item-input-wrapper row-size">		
				 
				 <input type="number" placeholder="enter station number" ng-model="moreform.number">
				  </label>
				 
			   </div>
				</div>
			</div>
			<div class="row">
				<div class="col">
				<div class="item item-input-inset">
				  <span class="label-span">Time</span>
				  <label class="item item-input-wrapper row-size">		
				 
				 <input type="time" ng-model="moreform.time">
				  </label>
				 
			   </div>
				</div>
			</div>
			
			<div class="row">
				<div class="col">
					<label class="item item-input item-stacked-label">
					  <span class="input-label">Unit of wind speed</span>
					</label>  
					<div class="item item-input-inset"> 
					 <label class="item item-input-wrapper row-size">		
					 
					 <input type="text" placeholder="enter wind speed unit" ng-model="moreform.windspeed" >
					  </label>
					</div> 
				   </div>
			</div>
			<div class="row">
				<div class="col">
					<label class="item item-input item-stacked-label">
					  <span class="input-label">cloud searchlight Alidade Reading <br/> Rainfall (mm)</span>
					</label>  
					<div class="item item-input-inset"> 
					 <label class="item item-input-wrapper row-size">		
					 
					 <input type="text" placeholder="enter cloud" ng-model="moreform.cloudsechlghtAlidade" >
					  </label>
					</div> 
				   </div>
			</div>
			<div class="row">
				<div class="col">
					<label class="item item-input item-stacked-label">
					  <span class="input-label">Type of station/present and <br/> past weather</span>
					</label>  
					<div class="item item-input-inset"> 
					 <label class="item item-input-wrapper row-size">		
					 
					 <input type="text" placeholder="enter station type..." ng-model="moreform.stationtype" >
					  </label>
					</div> 
				   </div>
			</div>
			<div class="row">
				<div class="col">
					<label class="item item-input item-stacked-label">
					  <span class="input-label">Height of lowest cloud</span>
					</label>  
					<div class="item item-input-inset"> 
					 <label class="item item-input-wrapper row-size">		
					 
					 <input type="text" placeholder="enter lowest cloud height"ng-model="moreform.lowcloudheight" >
					  </label>
					</div> 
				   </div>
			</div>
			<div class="row">
				<div class="col">
					<label class="item item-input item-stacked-label">
					  <span class="input-label">Standard isobaric surface</span>
					</label>  
					<div class="item item-input-inset"> 
					 <label class="item item-input-wrapper row-size">		
					 
					 <input type="text" placeholder="enter standard isobaric surface" ng-model="moreform.stdiosbaricsurface" >
					  </label>
					</div> 
				   </div>
			</div>
			<div class="row">
				<div class="col">
					<label class="item item-input item-stacked-label">
					  <span class="input-label">Geopotential of standard isobaric <br/> surface</span>
					</label>  
					<div class="item item-input-inset"> 
					 <label class="item item-input-wrapper row-size">		
					 
					 <input type="text" placeholder="enter geopotential" ng-model="moreform.geopotential">
					  </label>
					</div> 
				   </div>
			</div>
			
			<div class="row">
				<div class="col">
					<label class="item item-input item-stacked-label">
					  <span class="input-label">Duration period of preciptation </span>
					</label>  
					<div class="item item-input-inset"> 
					 <label class="item item-input-wrapper row-size">		
					 
					 <input type="text" placeholder="enter preciptation duration" ng-model="moreform.preciptationperiod">
					  </label>
					</div> 
				   </div>
			</div>
			
			<div class="row">
				
				<div class="col text-center">
				<button class="button button-calm button-style" ng-click="customshowHideOfMorformParts('Moreform2')">Next</button>
				</div>
			</div>
</div>	


<div ng-show="moreformPart2">
			<div class="row">
				<div class="col">
				<div class="item item-input-inset">
				  <span class="label-span">Past Weather</span>
				  <label class="item item-input-wrapper row-size">		
				 
				 <input type="text" placeholder="enter past weather" ng-model="moreform.pastweather" >
				  </label>
				 
			   </div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label class="item item-input item-stacked-label">
					  <span class="input-label">Grass Minimum Temperature</span>
					</label>  
					<div class="item item-input-inset"> 
					 <label class="item item-input-wrapper row-size">		
					 
					 <input type="text" placeholder="grass min temperature" ng-model="moreform.grassmintemp">
					  </label>
					</div> 
				   </div>
			</div>
			<div class="row">
				<div class="col">
					<label class="item item-input item-stacked-label">
					  <span class="input-label">Type of station/present and <br/> past weather</span>
					</label>  
					<div class="item item-input-inset"> 
					 <label class="item item-input-wrapper row-size">		
					 
					 <input type="text" placeholder="station type/present" ng-model="moreform.stationtypepresent">
					  </label>
					</div> 
				   </div>
			</div>
			<div class="row">
				<div class="col">
					<label class="item item-input item-stacked-label">
					  <span class="input-label">Character and intensity of precipitation</span>
					</label>  
					<div class="item item-input-inset"> 
					 <label class="item item-input-wrapper row-size">		
					 
					 <input type="text" placeholder="enter preciptation and character intensity" ng-model="moreform.characterintensity" >
					  </label>
					</div> 
				   </div>
			</div>
			<div class="row">
				<div class="col">
					<label class="item item-input item-stacked-label">
					  <span class="input-label">Begin or End of precipitation</span>
					</label>  
					<div class="item item-input-inset"> 
					 <label class="item item-input-wrapper row-size">		
					 
					 <input type="text" placeholder="enter begin or preciptation end" ng-model="moreform.beginpreciptation" >
					  </label>
					</div> 
				   </div>
			</div>
			<div class="row">
				<div class="col">
					<label class="item item-input item-stacked-label">
					  <span class="input-label">indicator of type of instrumentation</span>
					</label>  
					<div class="item item-input-inset"> 
					 <label class="item item-input-wrapper row-size">		
					 
					 <input type="text" placeholder="enter indicator" ng-model="moreform.indicator" >
					  </label>
					</div> 
				   </div>
			</div>
			
			<div class="row">
				<div class="col">
					<label class="item item-input item-stacked-label">
					  <span class="input-label">Duration period of sunshine</span>
					</label>  
					<div class="item item-input-inset"> 
					 <label class="item item-input-wrapper row-size">		
					 
					 <input type="text" placeholder="enter duration period" ng-model="moreform.sunshineduration" >
					  </label>
					</div> 
				   </div>
			</div>
			<div class="row">
				<div class="col">
					<label class="item item-input item-stacked-label">
					  <span class="input-label">Sign of pressure change</span>
					</label>  
					<div class="item item-input-inset"> 
					 <label class="item item-input-wrapper row-size">		
					 
					 <input type="text" placeholder="enter sign of pressure change" ng-model="moreform.pressuresign" >
					  </label>
					</div> 
				   </div>
			</div>
			<div class="row">
				<div class="col">
					<label class="item item-input item-stacked-label">
					  <span class="input-label">Supplimentary information</span>
					</label>  
					<div class="item item-input-inset"> 
					 <label class="item item-input-wrapper row-size">		
					 
					 <input type="text" placeholder="supplimentary info" ng-model="moreform.suppinfo" >
					  </label>
					</div> 
				   </div>
			</div>
			<div class="row">
				<div class="col">
				<div class="item item-input-inset">
				  <span class="label-span">Vapour pressure</span>
				  <label class="item item-input-wrapper row-size">		
				 
				 <input type="number" placeholder="vapour pressure" ng-model="moreform.vapourpressure">
				  </label>
				 
			   </div>
				</div>
			</div>
			<div class="row">
				<div class="col">
				<div class="item item-input-inset">
				  <span class="label-span">WIND RUN</span>
				  <label class="item item-input-wrapper row-size">		
				 
				 <input type="number" placeholder="wind run" ng-model="moreform.windrun" >
				  </label>
				 
			   </div>
				</div>
			</div>
			<div class="row">
				<div class="col">
				<div class="item item-input-inset">
				  <span class="label-span">TH GRAPH</span>
				  <label class="item item-input-wrapper row-size">		
				 
				 <input type="number" placeholder="th graph" ng-model="moreform.thgraph">
				  </label>
				 
			   </div>
				</div>
			</div>
			<div class="row button-padding">
				<div class="col text-left">  
				<button class="button button-assertive button-style" ng-click="customshowHideOfMorformParts('moreform1')">back</button>
				</div>
				<div class="col text-right">
				<button class="button button-calm button-style" ng-click="submitmoreformdata()">submit</button>
				</div>
			</div>
</div>	


</ion-content>

</ion-view>
