<ion-view>
	<ion-content>
	<div class="row">
	<div class="col">
	<div class="item item-input-inset">
      <span class="label-span">Attd.Thermo.(c)</span>
	  <label class="item item-input-wrapper row-size">		
     
	 <input type="text" placeholder="select time" >
      </label>
     
		</div>
	</div>
	</div>
	
	<div class="row">
	<div class="col">
	<div class="item item-input-inset">
      <span class="label-span">Pr.AsRead (c)</span>
	  <label class="item item-input-wrapper row-size">		
     
	 <input type="text" placeholder="select time" >
      </label>
     
   </div>
	</div>
	</div>
	<div class="row">
	<div class="col">
	<div class="item item-input-inset">
      <span class="label-span">Correction</span>
	  <label class="item item-input-wrapper row-size">		
     
	 <input type="text" placeholder="select time" >
      </label>
     
   </div>
	</div>
</div>
<div class="row">
	<div class="col">
	<div class="item item-input-inset">
      <span class="label-span">CLD (mb)</span>
	  <label class="item item-input-wrapper row-size">		
     
	 <input type="text" placeholder="select time" >
      </label>
     
   </div>
	</div>
</div>
	
<div class="row">
	<div class="col">
	<label class="item item-input item-stacked-label">
      <span class="input-label">M.S.L.Pr(mb) or 850 mb.Ht.(gpm)</span>
	</label>  
	<div class="item item-input-inset"> 
	 <label class="item item-input-wrapper row-size">		
     
	 <input type="date" placeholder="select time" >
      </label>
    </div> 
   </div>
</div>
<div class="row">
	<div class="col">
	<label class="item item-input item-stacked-label">
      <span class="input-label">Time marks BAROGRAPH</span>
	</label>  
	<div class="item item-input-inset"> 
	 <label class="item item-input-wrapper row-size">		
     
	 <input type="date" placeholder="select time" >
      </label>
    </div> 
   </div>
</div>
<div class="row">
	<div class="col">
	<label class="item item-input item-stacked-label">
      <span class="input-label">Time marks ANEMOGRAPH</span>
	</label>  
	<div class="item item-input-inset"> 
	 <label class="item item-input-wrapper row-size">		
     
	 <input type="date" placeholder="select time" >
      </label>
    </div> 
   </div>
</div>
<div class="row">
	<div class="col">
	<label class="item item-input item-stacked-label">
      <span class="input-label">other T/marks</span>
	</label>  
	<div class="item item-input-inset"> 
	 <label class="item item-input-wrapper row-size">		
     
	 <input type="date" placeholder="select time" >
      </label>
    </div> 
   </div>
</div>				
<div class="row">
	<div class="col">
	<label class="item item-input item-stacked-label">
      <span class="input-label">Remarks or any other observation</span>
	</label>  
	<div class="item item-input-inset"> 
	 <label class="item item-input-wrapper row-size">		
     
	 <input type="date" placeholder="select time" >
      </label>
    </div> 
   </div>
</div>
<div class="row button-padding">
	<div class="col text-left">
	<button class="button button-assertive button-style" ng-click="openObservationForm3()">back</button>
	</div>
	<div class="col text-right">
	<button class="button button-calm button-style" ng-click="submitobservationformdata()">submit</button>
	</div>
</div>	
	</ion-content>
</ion-view>