<ion-view>
	<ion-content>
	
	
<div class="row">
	<div class="col">
	<div class="item item-input-inset">
      <span class="label-span">MAX reset</span>
	  <label class="item item-input-wrapper row-size">		
     
	 <input type="date" >
      </label>
     
   </div>
	</div>
</div>
<div class="row">
	<div class="col">
	<div class="item item-input-inset">
      <span class="label-span">MIN read</span>
	  <label class="item item-input-wrapper row-size">		
     
	 <input type="text" placeholder="select station name" >
      </label>
     
   </div>
	</div>
</div>
<div class="row">
	<div class="col">
	<div class="item item-input-inset">
      <span class="label-span">MIN reset</span>
	  <label class="item item-input-wrapper row-size">		
     
	 <input type="text" placeholder="select station name" >
      </label>
     
   </div>
	</div>
</div>
<div class="row">
	<div class="col">
	<div class="item item-input-inset">
      <span class="label-span">PICHE READ</span>
	  <label class="item item-input-wrapper row-size">		
     
	 <input type="text" placeholder="select station number" >
      </label>
     
   </div>
	</div>
</div>
<div class="row">
	<div class="col">
	<div class="item item-input-inset">
      <span class="label-span">PICHE RESET</span>
	  <label class="item item-input-wrapper row-size">		
     
	 <input type="text" placeholder="select time" >
      </label>
     
   </div>
	</div>
</div>
<div class="row">
	<div class="col">
	<label class="item item-input item-stacked-label">
      <span class="input-label">TIME MARKS THERMO</span>
	</label>  
	<div class="item item-input-inset"> 
	 <label class="item item-input-wrapper row-size">		
     
	 <input type="date" placeholder="select time" >
      </label>
    </div> 
   </div>
</div>
<div class="row">
	<div class="col">
	<label class="item item-input item-stacked-label">
      <span class="input-label">TIME MARKS HYGRO</span>
	</label>  
	<div class="item item-input-inset"> 
	 <label class="item item-input-wrapper row-size">		
     
	 <input type="date" placeholder="select time" >
      </label>
    </div> 
   </div>
</div>
<div class="row">
	<div class="col">
	<label class="item item-input item-stacked-label">
      <span class="input-label">TIME MARKS RAIN REC</span>
	</label>  
	<div class="item item-input-inset"> 
	 <label class="item item-input-wrapper row-size">		
     
	 <input type="date" placeholder="select time" >
      </label>
    </div> 
   </div>
</div>


<div class="row">
	<div class="col">
	<div class="item item-input-inset">
      <span class="label-span">PRESENT WEATHER</span>
	  <label class="item item-input-wrapper row-size">		
     
	 <input type="text" placeholder="select time" >
      </label>
     
   </div>
	</div>
</div>
<div class="row">
	<div class="col">
	<div class="item item-input-inset">
      <span class="label-span">VISIBILITY</span>
	  <label class="item item-input-wrapper row-size">		
     
	 <input type="text" placeholder="select time" >
      </label>
     
   </div>
	</div>
</div>
<div class="row">
	<div class="col">
	<div class="item item-input-inset">
      <span class="label-span">WIND DIRECTION</span>
	  <label class="item item-input-wrapper row-size">		
     
	 <input type="text" placeholder="select time" >
      </label>
     
   </div>
	</div>
</div>
<div class="row">
	<div class="col">
	<div class="item item-input-inset">
      <span class="label-span">WIND SPEED</span>
	  <label class="item item-input-wrapper row-size">		
     
	 <input type="text" placeholder="select time" >
      </label>
     
   </div>
	</div>
</div>
<div class="row">
	<div class="col">
	<div class="item item-input-inset">
      <span class="label-span">GUSTING</span>
	  <label class="item item-input-wrapper row-size">		
     
	 <input type="text" placeholder="select time" >
      </label>
     
   </div>
	</div>
</div>

<div class="row button-padding">
	<div class="col text-left"> 
	<button class="button button-assertive button-style" ng-click="openObservationForm1()">back</button>
	</div>
	<div class="col text-right">
	<button class="button button-calm button-style" ng-click="openobservationform3()">next</button>
	</div>
</div>

	</ion-content>
</ion-view>