<ion-view view-title="Common Products" ng-init="onload()">
  <ion-content >
 
<div style="float: none; margin: 0 auto;" class="card">
<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
   <button class="btn btn-primary" id="place_order" type="submit" ng-click="add_element_to_cart()" >Place order</button>
 </div>
   <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" >
     <button class="btn btn-success" id="cart_button" type="submit" ng-click="open_cart_contents()" ><i class="fa fa-shopping-cart" aria-hidden="true"></i>Cart <span class="items_booked" id="no_of_items">{{elements_array.length}}</span></button>
   </div>
 </div>
 

   <div class="wrap" id="common_itemsx" >

  <!-- Define all of the tiles: -->
  <div class="box" ng-repeat="n in common_items" ng-click="openCustom('{{n.category}}')" >
    <div class="boxInner" >
      <img src="{{n.image}}" />
      <div class="titleBox">{{n.category}}</div>
    </div>
  </div>

  </div>
  <div id="item_selectedx"></div>
 
 <div id="cart_addition"></div>
  <div id="cart_contents"></div>
  
  
  </ion-content>
<div id="back_button"><button class="float_button" ng-click="returnToAdding()"><span class="fa-arrows"></span></button></div>

  </ion-view>
