<ion-view view-title="Laundry">
  <ion-content>
    <div style="float: none; margin: 0 auto;" class="row">
  <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
   <button class="btn btn-primary" type="submit" ">Place order</button>
 </div>
   <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" >
     <button class="btn btn-success" type="submit" "><i class="fa fa-shopping-cart" aria-hidden="true"></i>Cart <span class="items_booked"> 0</span></button>
   </div>
 </div>

   <div class="wrap" id="" >

  <!-- Define all of the tiles: -->
  <div class="box" ng-repeat="n in laundry" ng-click="openCustom('{{n.category}}')" >
    <div class="boxInner" >
      <img src="{{n.image}}" />
      <div class="titleBox">{{n.category}}</div>
    </div>
  </div>

  </div>
  
  <div id=""></div>
  <div id="ading_to_car"></div>
	
  </ion-content>
</ion-view>
